<div class="row">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="pull-left">
      <h4>New to Twetter? <span>Sign up</span></h4>
    </div>
    <div class="clearfix"></div>
    <hr />
    <%= form_for resource, :url => user_registration_path,
                           :builder => InlineErrorsBuilder,
                           :method => :POST,
                           :role => :form do |f| %>
      <div>
        <%= content_tag :div, :class => f.validation_class(:name, "form-group") do %>
          <%= f.text_field :name, :placeholder => "Full name", :class => 'form-control' %>
          <%= f.errors_for :name %>
        <% end %>

        <%= content_tag :div, :class => f.validation_class(:username, "form-group") do %>
          <%= f.text_field :username, :placeholder => "Username", :class => 'form-control' %>
          <%= f.errors_for :username %>
        <% end %>

        <%= content_tag :div, :class => f.validation_class(:email, "form-group") do %>
          <%= f.text_field :email, :placeholder => "Email", :class => 'form-control' %>
          <%= f.errors_for :email %>
        <% end %>

        <%= content_tag :div, :class => f.validation_class(:password, "form-group") do %>
          <%= f.password_field :password, :placeholder => "Password", :class => 'form-control' %>
          <%= f.errors_for :password %>
        <% end %>

        <div class="form-group tall">
          <%= f.submit "Sign up for Twetter", :class => "btn btn-warning pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
